.heading{
    text-align: right;
    padding: 20px;
    border: 1px solid green;
    background-color: orange;
       
}

.heading:hover{
    background-color: blue;
    color: white;
}

body{
    background-color: bisque;
   
  
    
}

.paragraph{
    text-decoration: underline;
    text-align: left;
}

.container {
    width: 750px;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
}

.column1 {
    width: 250px;
    height: 300px;
    background-color: pink;
    float: left;
    text-align: center;
    color: white;

}

.column2 {
    width: 250px;
    height: 300px;
    background-color: blue;
    float: left;
    font-size: 20px;
    text-align: center;
    color: white;
    
}

.column3 {
    width: 250px;
    height: 300px;
    background-color: red;
    float: left;
    text-align: center;
    color: white;
}

.column1:hover {
    background-color: green;
    cursor: help;
}

.column2:hover {
    background-color: green;
    cursor: help;
}

.column3:hover {
    background-color: green;
    cursor: help;
}

a {
    text-align:center;
    width: 200px;
    display: block;
    margin: 20px auto;
    text-decoration:none;
    background: darkslateblue;
    color: white;
    border-radius: 50px;
    padding: 10px;
    border: 5px dashed goldenrod;
}

a:hover {
    background: black;
    border-radius: 0px;
    color: white;
    font-weight: bold;
}

/*Couldn't get link button to align to center*/
