.heading{
    text-align: right;
    padding: 20px;
    border: 1px solid green;
    background-color: orange;

    
}

.heading:hover{
    background-color: blue;
}

body{
    background-color: bisque;
   
  
    
}

.paragraph{
    text-decoration: underline;
    text-align: left;
}

.container {
    width: 750px;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
}

.column1 {
    width: 250px;
    height: 300px;
    background-color: pink;
    float: left;
    text-align: center;
    color: white;

}

.column2 {
    width: 250px;
    height: 300px;
    background-color: blue;
    float: left;
    font-size: 20px;
    text-align: center;
    color: white;
    
}

.column3 {
    width: 250px;
    height: 300px;
    background-color: red;
    float: left;
    text-align: center;
    color: white;
}

.column1:hover {
    background-color: green;
}

.column2:hover {
    background-color: green;
}

.column3:hover {
    background-color: green;
}

.linkedinbutton {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    border: dashed 2px yellow;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    color: white;
}

.linkedinbutton:hover {
    background-color: red;
}

/*Couldn't get link button to align to center*/
